node_modules/
bower_components/
*.log

build/
dist/
app/config/config.php
app/cache/*.*

public/css/bootstrap/bootstrap-responsive.min.css
public/css/bootstrap/bootstrap.min.css
public/css/bootstrap/index.html
public/css/codemirror/codemirror.css
public/css/codemirror/codephalcon.css
public/css/codemirror/index.html
public/img/bootstrap/glyphicons-halflings.png
public/img/bootstrap/index.html
public/js/bootstrap/bootstrap.min.js
public/js/bootstrap/index.html
public/js/codemirror/index.html
public/js/codemirror/lib/codemirror.js
public/js/codemirror/lib/codephalcon.js
public/js/codemirror/lib/index.html
public/js/codemirror/mode/clike/clike.js
public/js/codemirror/mode/clike/index.html
public/js/codemirror/mode/css/css.js
public/js/codemirror/mode/css/index.html
public/js/codemirror/mode/index.html
public/js/codemirror/mode/php/index.html
public/js/codemirror/mode/php/php.js
public/js/codemirror/mode/xml/index.html
public/js/codemirror/mode/xml/xml.js
public/js/jquery/index.html
public/js/jquery/jquery.min.js
public/webtools.config.php
public/webtools.php
public/files/*.pdf
